__pycache__/

# Virtual environment folders for python
*.env/
venv/
env/

# Environment variables
*/.env
.env

# Terraform variables
*.tfvars
*.tfstate
*.tfstate.*
**/.terraform/*
*.terraform.lock.hcl
*.tfplan
